extends ../layouts/design
block content
 #content
  #content-header
    #breadcrumb
      a.tip-bottom(href='#', title='Go to Home')
        i.icon-home
        |  Home
      a.current(href='#') Tables
    h1 Tables
  .container-fluid
    hr
    .row-fluid
      .span12
        .widget-box
          .widget-title
            span.icon
              i.icon-th
            h5 Data table
          .widget-content.nopadding.justify-content-center
            table.table.table-bordered.data-table
              thead
                tr
                  th STT
                  th Avatar
                  th Category
                  th Title
                  th Author
                  th Content
                  th Action
              tbody
               - var stt = 1
               each post in posts
                tr.gradeX
                 td= stt++
                 td
                  img(src ="/"+ post.avatar, style = "width:150px")
                 td= post.title
                 td= post.category_name
                 td= post.author
                 td= post.content
                 td.center
                  a#del.btn.btn-danger.btn-mini(href=`/admin/delete-post/${post._id}/${post.category_id}`) Delete
